/* Default SCSS file. Please place all SCSS files in the scss directory. */

html {
	overflow-y:scroll;
}
body {
}

div.active {
	background-color: lightgray;
}

.sidebar {
	width:300px;
	float: left;
	background-color: lightgray;
	height:100%;
	position: fixed;
}

.main {
	overflow: hidden;
	margin-left: 310px;
}

.textboxlabel {
	width: 300px;
}

.error {
	color: red;
}

button {
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: gray;
}